@model List<Ingredient>;

@{ ViewBag.Title = "Add";
   Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>This is your shopping list. Have fun shopping :)</h2>
<ul class="list-group">
    @foreach (var ingredient in Model)
    {
<li class="list-group-item">@(ingredient.name + " " + ingredient.amount + " " + ingredient.unit + "\n")</li>}
</ul>